{% extends 'index.html' %}

{% block topic %}
<div class="justify-center flex">
    <p class="text-xl w-11/12 md:w-3/12 p-2 rounded-lg text-center shadow-md"> ประกาศกิจกรรม </p>
</div>
{% endblock %}

{% block clock %}
<!-- <div class="justify-center flex mt-10">
    <div class="bg-white w-11/12 md:w-3/12 rounded-xl shadow-md">
        <div id="date" class="flex justify-center text-center mt-2"></div>
        <div id="clock"
            class="flex justify-center text-xl font-bold contrast-125 text-center mt-2 mb-2 bg-[#3b3a3a] text-white p-2 m-2 rounded-lg">
        </div>
    </div>
</div> -->
{% endblock %}


{% block form %}

{% endblock %}